/*
ESTILO DIRECTAMENTE EN EL BODY 
SELECTOR POR TAG (EJ div)
SELECTOR POR CLASE (EJ .rojo) 
SELECTOR POR ID (EJ #div3)
SELECTOR * (HACE QUE SE APLIQUE AL CONTENIDO DE TODOS LOS ELEMENTOS)
*/

body{
    height: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

div{    
    box-sizing: border-box;
    background-color: aqua;
    width: auto;
    height: 400px;
    border: 1px solid black;
    background-image:url(../img/fondo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display:  inline-block;
}

div:hover{
    background-color: red;
    transition: background-color 5s;
}

.rojo, p{
    background-color: red;
}

.dashed{
    border: 5px dashed blueviolet;
}

#div2{
    background-color: green;
}

#div-flex{
    background-color: wheat;
}

*{
    padding: 10px;
    margin: 10px;
    font-family: 'Permanent Marker', monospace;
}

@media screen and (max-width: 800px){
    div{
        box-sizing: border-box;
        background-color: red;
        width: auto;
        height: 400px;
        display: inline-block;
    }
}




